<% title 'SEO services | The Growth Ocean' %>
<% description 'Simple SEO services to deliver no hassle results' %>

<div class="service-index">
    <% @services.each do |service| %>
    <div class="service-item">
        <h2 class="service-title">
            <%= service.title %>
        </h2>
        <h3 class="service-description">
            <%= service.description %>
        </h3>
        <%= link_to  "Interested?!", service, class: "btn" %>
    </div>   
    <% end %>
</div>