.blog-optin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
    width: 55%;
    background-color: #31294a;
    padding: 3rem;
    border-radius:3px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}

.input-cta {
    font-size: 3.5rem;
    margin-bottom: -2rem;
}


.blog-title {
    text-decoration: none;
    color: var(--color-white);
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.blog-meta {
    margin-bottom: -2rem;
}

.form-input {
    font-size: 16px;
    font-family: inherit;
    width: 40%;
    padding: 13px 20px;
    border-radius: 3px;
    border-style: solid;
    line-height: 1;
    margin-bottom: 15px;
    background-color: var(--color-white);
    margin: 0 3rem;
    //border-color: var(--color-grey);
    &:focus, &:active {
        //border-color: rgb(29,19,17);
        box-shadow: 0 0 2px 3px rgb(29, 191, 17);
        //border-width: 1px;
        border: none;
    }
}
