.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    @media  only screen and (max-width: 31.25em){
        font-size: 1rem;
    }

}

.home-title {
    font-size: 3.4rem;
    text-align: center;
    //margin-top: 2rem;
    @media  only screen and (max-width: 37.5em){

        font-size: 2.1rem;
        padding: 0 5rem;

    }
    @media  only screen and (max-width: 31.25em){
        margin-top: 8rem;

    }
}

.home-subtitle {
    font-weight: 400;
    font-size: 2.1rem;
    text-align: center;
    margin: 2rem 0;
    color: var(--color-white);
    @media  only screen and (max-width: 37.5em){
        padding: 0 4rem;
        font-size: 1.8rem;
    }
}

.organically {
    text-decoration: underline var(--color-secondary);
}

