///// POST HEADER //////

.post-container {
    margin: 0 auto;
    width: 65%;
}


.post-header {
    margin-top: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: .2rem solid var(--color-grey);
    padding-bottom: 4rem;
    

    &__meme {
    }

    &__title {
        font-size: 4rem;
        margin: 7rem 1rem 2rem 2rem;
        text-align: center;
    }

    
    &__tags {
        font-size: 1.4rem;
        text-decoration: none;
        border-bottom: .2rem solid var(--color-secondary);
        color: var(--color-white);
        position: relative;
        -webkit-transition: background-color 120ms;
        transition: background-color 120ms;
        margin-right: 1rem;

        &:hover {
            background-color: var(--color-secondary);
        }
    }

    &__date {
        font-size: 1.4rem;

    }
}



//////// POST CONTENT /////////

.post-content {
    padding: 4rem;
    //background-color: var(--color-white);
    color: var(--color-white);
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    font-size: 2rem;
    border-bottom: .2rem solid var(--color-grey);
    padding-bottom: 3rem;

    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    a {
        //font-size: 1.4rem;
        text-decoration: none;
        color: #1e99e6; //var(--color-secondary);
        //position: relative;
        //-webkit-transition: background-color 120ms;
        //transition: background-color 120ms;
        //margin-right: 5rem;

        &:hover {
            color: #1e99e6;
            border-bottom: .2rem solid #1e99e6;
        }
    }
    &__paragraph {

    }

    &__img {

    }
}