<% title 'Muhammad Ibrahim' %>
<% description 'SEO & Growth experiements' %>


<div class="container">
    <h1 class="home-title"> Grow your SaaS <span class="organically">ORGANICALLY with SEO.</span> </h1>
    <h2 class="home-subtitle">Acquire more customers with SEO as a traction channel. How?! </h2>
    <a class="btn" href="https://muhammadibrahim5.typeform.com/to/BPVHGF">Let's Talk</a> 
</div>
