
.follow{
	font-size: 2rem;
	margin-top: 3rem;
	text-decoration: none;
	background-color: #1e99e6;
	border-radius: .3rem;
	color: #fff;
	cursor: pointer;
	padding: 0 .6rem;

	&:hover {
        background-color: #50bfff;
    }
}