<div class="about-container">
    <div class="hi">
            <h2 class="about-header"> Hi there!! </h2>
            <img class="hand" src="/hold.svg" alt="hand">
    </div>
    <p class="about-paragraph">
            My name is Muhammad Ibrahim, An SEO practitioner, Growth marketer and  Indie maker and I'm going to help you grow  your product organically. <br> <br>
    </p>

    <p class="about-paragraph">
            I built this website and left my day job to be able to pick my clients because I believe that I'm not a good fit for every client. <br> <br>
    </p>

    <h2 class="about-header">So, Am I a good fit for you?! <br></h2>

    <p class="about-paragraph">
            If you are a SaaS owner who is trying to grow a product he completely believes in and provides value to his audience with it. If you are trying to figure out your own growth machine and buid an organic traction channel through SEO we are probably a good fit and the opportunity to build something cool is over the chart. <br> <br> 
            
            But If you're a guy how is playing the "build something to get investment from rich fat guys" game, I think we will not be able to work together.

    </p>
</div>



            
             
            