<% title 'About | The growth ocean' %>
<% description 'What is the growth ocaen and what should expect from me' %>

<div class="about-container">
    <div class="hi">
            <h2 class="about-header"> Hi there!! </h2>
            <img class="hand" src="/hold.svg" alt="hand">
    </div>
    <p class="about-paragraph">
            My name is Muhammad Ibrahim, A SEO practitioner, Growth marketer and  Indie maker and I'm going to help you grow  your product organically. <br> <br>
    </p>

    <p class="about-paragraph">
            I built this website and left my day job to be able to pick my clients because I believe that I'm not a good fit for every client. <br> <br>
    </p>

    <p class="about-paragraph">
        Primarily, I work with SaaS startups to help them use SEO as a powerful acquisition channel. I learned from people like <a href="https://brianbalfour.com"> Brian Balfour </a> and <a href="https://matthewbarby.com"> Matthew Barby </a> that growing your product is about figuring out the process that is repeatable and scalable to test your ideas and implement new techniques to see what works for you. <br> <br>

        So, It's not about the hacks and hot tips that you read today. Every product is different and growing different products require different techniques.  
        <br> I will help you grow your product by figuring out together a scalable process to test and experiment and ultimately grow your product as big as possible by repeating and learning in the process. <br> <br>
    </p>
    <br>

    <h2 class="about-header">So, am I a good fit for you? <br> </h2>

    <p class="about-paragraph">
            If you are a SaaS owner who is trying to grow a product he completely believes in and provides value to his audience with it. If you are trying to figure out your own growth machine and build an organic traction channel through SEO we are probably a good fit and the opportunity to build something cool is huge. <br> <br> 
            
            But If you're a guy how is playing the "build something to get investment from rich fat guys" game, I think we will not be able to work together.

    </p>

    <br>
    <br>

    <p class="about-paragraph">
            Email Me: muhammad@thegrowthocean.com
    </p>
</div>



            
             
            